.navTop {
    display: flex;
    place-content: space-evenly;
    padding:50px;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
  }
 .text{
   color: gold;
  }
  .navTop .text:hover{
    color: #333;
    transition: color 2s;
  }
  .navTop i{
  font-size:2em;
  }
  .navTop .icon{
    display: none;
  }
